* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    background-color: lightcyan;
}

header
{
    position: fixed;
    z-index: 7;
    height: 75px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, h1, nav {
    background-color: azure;
}
main
{

}
form
{ 

}
button
{

}